<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/form.css">
    <%- include('../links/bootstrap') %>
    
    <% if (activePage==='table' ) { %>
        <link rel="stylesheet" href="/css/table.css">
        <% } %>
</head>

<body>
    <%- include('../navbar/admin') %>

        <%- include(activePage) %>

            <script src="/js/admin/logout.js"></script>
</body>

</html>