<div class="container mt-4">
    <div class="row bg-light py-2 rounded border">
        <div class="col-10">
            <input type="text" id="searchInput" class="form-control" placeholder="Set axtar" oninput="searchProduct()">
        </div>
        <div class="col-2 d-flex align-items-center">
            <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addSetModal">
                Set əlavə et</button>
        </div>
    </div>

    <div class="row bg-primary text-white fw-bold py-2 rounded mt-2">
        <div class="col-5">Setin adı</div>
        <div class="col-3">Satış qiyməti</div>
        <div class="col-4 text-center">Ayarlar</div>
    </div>

    <div id="setList"> </div>
</div>

<!-- yeni set -->
<div class="modal fade" id="addSetModal" tabindex="-1" aria-labelledby="addSetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addSetModalLabel">Yeni set</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="addSetForm">
                    <div class="row gy-2 overflow-hidden">

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Ad">
                                <label for="name" class="form-label">Ad</label>
                                <div class="error" id="nameError"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="sale" id="sale" placeholder="Ad">
                                <label for="sale" class="form-label">Qiymət</label>
                                <div class="error" id="saleError"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg" type="submit">Əlavə et</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--  -->

<!-- sete bax -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div id="structureSummary" class="bg-light p-4 rounded shadow-sm mb-4">
                    <h5 class="text-primary mb-3">Setin tərkibi</h5>
                    <div id="structureSummaryContent">

                    </div>
                </div>

                <div id="detailsContent" class="row gy-2 overflow-hidden">

                </div>
            </div>

        </div>
    </div>
</div>
<!--  -->

<!-- sete elave etmek -->
<!-- <div class="modal fade" id="addToSetModal" tabindex="-1" aria-labelledby="addToSetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addToSetModalLabel">Setə əlavə et</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="addToSetForm">
                    <div class="row gy-2 overflow-hidden">


                        <div class="col-12">
                            <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg" type="submit">Əlavə et</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div> -->
<!--  -->

<!-- redakte -->
<div class="modal fade" id="editSetModal" tabindex="-1" aria-labelledby="editSetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSetModalLabel">Seti redaktə et</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSetForm">
                    <div class="row gy-2 overflow-hidden">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="editName" placeholder="Ad">
                                <label for="editName" class="form-label">Ad</label>
                                <div class="error" id="editNameError"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="sale" id="editSale" placeholder="Qiymət">
                                <label for="editSale" class="form-label">Qiymət</label>
                                <div class="error" id="editSaleError"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg" type="submit">Yadda saxla</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- -->

<script src="/js/admin/set.js"></script>