<div class="container mt-4">
    <div class="row bg-light py-2 rounded border">
        <div class="col-8">
            <input type="text" id="searchInput" class="form-control" placeholder="Məhsul axtar"
                oninput="searchProduct()">
        </div>
        <div class="col-2">
            <select id="categoryOption" onchange="selectCategory()" class="form-select btn btn-primary w-100">
                <option value="" selected>Kategoriya</option>
            </select>
        </div>
        <div class="col-2 d-flex align-items-center">
            <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addProductModal">
                Məhsul əlavə et</button>
        </div>
    </div>

    <div class="row bg-primary text-white fw-bold py-2 rounded mt-2">
        <div class="col-4">Məhsulun adı</div>
        <div class="col-3">Kategoriya</div>
        <div class="col-2">Satış qiyməti</div>
        <div class="col-3 text-center">Ayarlar</div>
    </div>

    <div id="productList"> </div>
</div>

<!-- yeni mehsul -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Yeni məhsul</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="addProductForm">
                    <div class="row gy-2 overflow-hidden">

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Ad">
                                <label for="name" class="form-label">Ad</label>
                                <div class="error" id="nameError"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="sale" id="sale" placeholder="Ad">
                                <label for="sale" class="form-label">Qiymət</label>
                                <div class="error" id="saleError"></div>
                            </div>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="btn-group d-flex flex-wrap gap-2" id="categoryInputs" role="group"
                                aria-label="role"> </div>
                            <div class="error" id="categoryError"></div>
                        </div>


                        <div class="col-12">
                            <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg" type="submit">Əlavə et</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--  -->

<!-- redakte -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Məhsulu redaktə et</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <div class="row gy-2 overflow-hidden">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="editName" placeholder="Ad">
                                <label for="editName" class="form-label">Ad</label>
                                <div class="error" id="editNameError"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="sale" id="editSale" placeholder="Qiymət">
                                <label for="editSale" class="form-label">Qiymət</label>
                                <div class="error" id="editSaleError"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg" type="submit">Yadda saxla</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- -->

<script src="/js/admin/without-warehouse.js"></script>