<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div id="orderSummary" class="bg-light p-4 rounded shadow-sm mb-4">
                    <h5 class="text-primary mb-3">Ümumi Sifarişlər</h5>
                    <div id="orderSummaryContent">

                    </div>
                </div>

                <div id="detailsContent" class="row gy-2 overflow-hidden">

                </div>
            </div>

        </div>
    </div>
</div>