<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <%- include('partials/bootstrap-links') %>
</head>
<body>
    <%- include('partials/navbar/admin') %>

    <script src="/js/admin-logout.js"></script>
</body>
</html>