<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana səhifə</title>
    <%- include('partials/links/bootstrap') %>
</head>

<body>
    <%- include('partials/navbar/worker') %>

</body>

</html>