.custom-card {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.active-custom-card {
    background-color: #f2b2ca;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 10;
}

.custom-card:hover .card-btn {
    display: block;
}