<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="d-flex">
        <a href="/admin" class="btn <%= activePage === 'home' ? 'btn-secondary' : 'btn-primary' %> me-2">Ana səhifə</a>
    </div>

    <div class="d-flex">
        <a href="/admin/tables"
            class="btn <%= activePage === 'tables' ? 'btn-secondary' : 'btn-primary' %> me-2">Masalar</a>
    </div>

    <div class="d-flex">
        <a href="/admin/warehouse"
            class="btn <%= activePage === 'warehouse' ? 'btn-secondary' : 'btn-primary' %> me-2">Anbar</a>
    </div>

    <div class="d-flex">
        <a href="/admin/without-warehouse"
            class="btn <%= activePage === 'without-warehouse' ? 'btn-secondary' : 'btn-primary' %>">
            Anbarsız məhsullar</a>
    </div>

    <div class="d-flex ms-auto">
        <button id="logoutBtn" class="btn btn-danger">Admin hesabdan çıxış et</button>
    </div>
</nav>