<div class="container my-5">
    <div id="tablesDiv" class="row g-4 justify-content-center">

        <div class="col-auto">
            <div class="card custom-card border-primary">
                <button class="btn btn-primary card-btn" data-bs-toggle="modal" data-bs-target="#addTabelModal">
                    Əlavə et</button>

                <div class="card-body">
                    <h5 class="card-title fw-bold text-primary">Yeni masa</h5>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="addTabelModal" tabindex="-1" aria-labelledby="addTabelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addTabelModalLabel">Yeni masa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="addTabelForm">
                    <div class="row gy-2 overflow-hidden">

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Ad">
                                <label for="name" class="form-label">Ad</label>
                                <div class="error" id="nameError"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-grid my-3">
                                <button class="btn btn-primary btn-lg" type="submit">Əlavə et</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/js/admin/tables.js"></script>